<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">{{msg}}</h1>
    </div>
</div>

<div  class="row">
    <div class="col-md-12">
        <div id="mapid" style="width:800px;height:800px;margin: auto" ></div>
    </div>
</div>
