<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">{{msg}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="scatter_plot" style="width: 600px;height: 600px;  margin: auto"></div>
    </div>

</div>
