<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welkom</h1>
        <p class="text-center">This is my app</p>
        <p class="text-center">{{msg}}</p>
    </div>
</div>


